<% provide(:title, "Home") %>
<h1>ようこそ！TodoListへ</h1>
<p>あなたが管理したいタスクを分かりやすくまとめましょう</p>

<div class="login">
  <%= link_to "ログイン", "#", class: "btn btn-primary" %>
</div>
<div class="crateuser mt-1">
  <%= link_to "新規会員登録はこちら", "#", class: "btn btn-primary" %>  
</div>



