<% provide(:title, "Home") %>
<h1>ようこそ！TodoListへ</h1>
<p>あなたが管理したいタスクを分かりやすくまとめましょう</p>

<div class="login">
  <%= link_to "ログイン", login_path, class: "btn btn-primary" %>
</div>
<div class="createuser">
  <%= link_to "新規会員登録はこちら", signup_path, class: "btn btn-primary" %>  
</div>



