<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="containser">
    <%= link_to "todolist", root_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to "Home", home_path %>
        <%= link_to "Help", help_path %>
        <%= link_to "Login", '#' %>
      </ul>
    </nav>
  </div>
</header>